@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkatra:wght@700&family=Anton&family=Geologica:wght@500&family=Lobster&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkatra:wght@700&family=Anton&family=Geologica:wght@500&family=Lobster&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alkatra:wght@700&family=Anton&family=Geologica:wght@500&family=Lobster&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mukta:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	font-family: 'Montserrat', sans-serif;
	
}

.nav-item {
	font-weight: 600;
	font-family: 'Montserrat', sans-serif;
}

.brand-text {

	font-weight: 500;
	color: black;
	font-size: 18px;
	margin-left: 10px;
}

.form-label {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
}

.card-text {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: 200;
	font-size: 15px;
}

.card:hover {
	border: 1px solid black;
}

.kartu:hover {
	background-color: rgb(67, 67, 210);
}

section {
	padding-top: 5rem;
}

/* FOOTER */

.footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer ul li {
	display: inline-block;
	vertical-align: middle;
}

.footer .footer-newsletter {
	padding: 15px 0;
}

.footer .footer-newsletter .content-left ul li {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.footer .footer-newsletter .content-left ul li:first-child {
	width: 270px;
	margin-right: 40px;
}

.footer .footer-newsletter .content-left ul li .input-group {
	width: 250px;
}

.footer .footer-newsletter .content-left ul li .input-group .form-control {
	height: auto !important;
	font-size: 14px;
	font-weight: 300;
	background: transparent;
	padding: 0;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

.footer .footer-newsletter .content-left ul li .input-group .btn-search {
	background: transparent;
	font-size: 14px;
	font-weight: 300;
	padding: 0;
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
}

.footer .footer-newsletter .content-right {
	text-align: right;
}

.footer .footer-newsletter .content-right ul li {
	margin-left: 40px;
}

.footer .footer-newsletter .content-right ul li:first-child {
	margin-left: 0;
}

.footer .footer-newsletter .content-right ul li a {
	font-size: 16px;
	font-weight: 400;
}

.footer .footer-category {
	background: #363636;
	padding: 15px 0;
}

.footer .footer-category ul li {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	margin-right: 50px;
}

.footer .footer-category ul li:first-child {
	width: 270px;
	margin-right: 40px;
}

.footer .footer-category ul li:last-child {
	margin-right: 0;
}

.footer .footer-category ul li a {
	font-size: 15px;
	font-weight: 400;
	text-transform: capitalize;
	color: #fff;
}

.footer .footer-courier {
	background: #ffffff;
	color: #000000;
	padding: 15px 0;
}

.footer .footer-courier ul li {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	margin-right: 30px;
}

.footer .footer-courier ul li:first-child {
	width: 270px;
	margin-right: 40px;
}

.footer .footer-courier ul li img {
	height: 26px;
}

.footer .footer-category ul li:last-child {
	margin-right: 0;
}

.footer .footer-menu ul li {
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #5d5d5d;
	margin-right: 50px;
}

.footer .footer-menu ul li:first-child {
	width: 270px;
	margin-right: 40px;
}

.footer .footer-menu ul li:last-child {
	margin-right: 0;
}

.footer .footer-menu ul li a {
	font-size: 15px;
	font-weight: 400;
	text-transform: capitalize;
	color: #5d5d5d;
}

a {
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	color: #5d5d5d;
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.con-1 {
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

a:hover {
	text-decoration: none;
}

@media (max-width:767px) {
	.hidden-xs {
		display:none;
	}

	.visible-xs-block {
		display:block !important;
	}
}

.link1:hover {
	background-color: #ffffff;
}

/* CSS */

